# Übung 1
Ersetzen Sie den Inhalt von der `list [1, 2, 3]` mit den Werten von dem `dict {'a' : 12, 'b': 14, 'c': 13}`

In [ ]:
a_list = [1, 2, 3]
a_dict = {'a' : 12, 'b': 14, 'c': 13}

a_list = list(a_dict.values())
a_list

In [ ]:
a_list = [1, 2, 3]
a_dict = {'a' : 12, 'b': 14, 'c': 13}

for idx, key in enumerate(a_dict):
    # this is the index
    print(idx)
    # this is the key
    print(key)
    # assign element corresponding to the key from the dict to the list
    a_list[idx] = a_dict[key]

a_list

# Übung 2
Ersetzen Sie den Inhalt von der `list [1, 2, 3]` mit den Werten von dem `dict {1 : 12, 3: 14, 2: 13}`, bei denen die `keys` den `list` Werten entsprechen.

In [ ]:
a_list = [1, 2, 3]
a_dict = {1 : 12, 3: 14, 2: 13}

for i, val in enumerate(a_list):
    a_list[i] = a_dict[val]
a_list

# Übung 3
Benutzen Sie das `tuple ('a', 'b', 'c', 'd')` und die `list [3, 1, 4, 2]` und kreieren Sie ein `dict`, wobei die `keys` der alphabetischen Reihenfolge der Werte entsprechen.

In [ ]:
a_list = sorted([3, 1, 4, 2])
a_tuple = ('a', 'b', 'c', 'd')
a_dict = {}

for l_e, t_e in zip(a_list, a_tuple):
    a_dict[t_e]= l_e
a_dict

In [ ]:
a_list = sorted([3, 1, 4, 2])
a_tuple = ('a', 'b', 'c', 'd')
a_dict = {}

a_dict = {t_e:l_e for l_e, t_e in zip(a_list, a_tuple)}
    
a_dict

# Übung 4
Stellen Sie den Typ von jedem Wert in einer `list` mit `print()` Anweisung dar.

In [ ]:
a_list = [1, 1.3, 'ueue', (), {}, []]

for el in a_list:
    typ = str(type(el))
    print(typ)
    typ = typ.split("'")[1]
    print(typ)

# Übung 5
Kreieren Sie eine Struktur, die die verschiedenen Altersangaben `(63, 15, 42, 27)` und Haarfarben `('grau', 'blonde', 'schwarz', 'rot')` von Leuten aus diesen zwei entschprechenden tuples (Vornamen : `('Maria', 'Okan', 'Maria', 'Jonas')` und Familiennamen : `('Schmidt', 'Müller', 'Klein', 'Klein')`) enthält. Man soll dann mit dem Namen und Vornamen als Eingabe, das richtige Alter und die Haarfarbe zurückgeben.

In [ ]:
alter = (63, 15, 42, 27)
haarfarben = ('grau', 'blonde', 'schwarz', 'rot')
vornamen = ('Maria', 'Okan', 'Maria', 'Jonas')
namen = ('Schmidt', 'Müller', 'Klein', 'Klein')

a_dict = {}
for alt, haarfarbe, vorname, name in zip(alter, haarfarben, vornamen, namen):
    a_dict[(vorname, name)] = (alt, haarfarbe)
a_dict

# Übung 6
Fügen Sie die ersten `n` Werte aus der angebenenen list `liste = [1, 2, 3, 4, 5 ,6 ,7, 8, 9 ,10]` mit einer `for` Schleife und `if` Anweisung hinzu, wobei `n` eine Nummer zwischen 0 und 10 ist.

In [ ]:
n = 4

liste = [1, 2, 3, 4, 5 ,6 ,7, 8, 9 ,10]

leere_liste = []

for i in range(n):
    leere_liste.append(liste[i])
leere_liste

# Übung 7
Fügen Sie die ersten `n` Werte aus der angebenenen list `liste = [1, 2, 3, 4, 5 ,6 ,7, 8, 9 ,10]` mit dem `:` Operator hinzu, wobei `n` eine Nummer zwischen 0 und 10 ist.

In [ ]:
n = 4

liste = [1, 2, 3, 4, 5 ,6 ,7, 8, 9 ,10]

leere_liste = liste[:n]
leere_liste

# Übung 7
Kreieren Sie eine andere list aus der angegebenen list (`['0309298393848', '0407560293782', '0408290617239', '0893670294301']`), die nur die local Telephonnummern enthält (ohne die Vorwahlen).

In [ ]:
liste = ['0309298393848', '0407560293782', '0408290617239', '0893670294301']
leer_liste = []

for el in liste:
    leer_liste.append(el[3:])
leer_liste